<div class="events-container">
  <div class="event-card" *ngFor="let event of events">
    <h2>{{ event.typ }}</h2>
    <p><strong>Ort:</strong> {{ event.ort }}</p>
    <p><strong>Datum:</strong> {{ event.datum }}</p>
    <p><strong>Zeit:</strong> {{ event.zeit }}</p>
    <p><strong>Beschreibung:</strong> <br>{{ event.beschreibung }}</p>

    <button (click)="openEditEvent(event)" class="edit-button">Bearbeiten</button>

  </div>
</div>

<app-edit-event
  *ngIf="showEditEventForm"
  (close)="closeEditEvent()"
></app-edit-event>
