<div class="events-container">
  <div class="event-card" *ngFor="let event of events">
    <h2>{{ event.typ }}</h2>
    <p><strong>Ort:</strong> {{ event.ort }}</p>
    <p><strong>Datum:</strong> {{ event.datum }}</p>
    <p><strong>Zeit:</strong> {{ event.zeit }}</p>
    <p><strong>Beschreibung:</strong> <br>{{ event.beschreibung }}</p>

    <div class="button-wrapper">
      <button class="edit-button" (click)="openEditEvent(event)">Bearbeiten</button>
    </div>  </div>
</div>

<!-- Nur wenn ausgewählt -->
<app-edit-event
  *ngIf="showEditEventForm && selectedEvent"
  [event]="selectedEvent"
  (closed)="closeEditEvent()"
  (saved)="onEventSaved($event)"
></app-edit-event>

